name: google_maps_showcase
description: "This is a project for showcasing Google Maps integration in Flutter."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  equatable: ^2.0.5
  firebase_analytics: ^12.0.0
  firebase_core: ^4.0.0
  firebase_crashlytics: ^5.0.0
  firebase_messaging: ^16.0.0
  firebase_performance: ^0.11.0
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  formz: ^0.8.0
  fpdart: ^1.1.0
  get_it: ^8.2.0
  geolocator: ^14.0.2
  google_maps_flutter: ^2.14.0
  cupertino_icons: ^1.0.8
  responsive_framework: ^1.1.1
  permission_handler: ^12.0.1
  flutter_compass_v2: ^1.0.3
  webview_flutter: ^4.13.1
  http: ^1.6.0
  flutter_dotenv: ^6.0.0
  widget_to_marker: ^1.0.6

  json_annotation: ^4.8.1
  #flutter_google_street_view: ^3.1.4
  flutter_google_street_view:
    git:
      url: https://github.com/jslattery26packages/flutter_street_view.git
      path: flutter_google_street_view
      ref: master 

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0
  json_serializable: ^6.7.1
  build_runner: ^2.4.6

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icons/
    - .env

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
